body {
	font-family: Helvetica;
	text-align: center;
}

header {
	background-image: url('../images/the-flatiron-building.jpg');
	background-size: 100%;
	color: white;
}

h1 {
	font-size: 70px;
	font-weight: bold;
}

p {
	/*list-style: none;*/
	font-size: 18px;
}

a {
	color: inherit;
}