body {
	font-family: Helvetica;
	text-align: center;
}

.background {
	background-image: url('../images/the-flatiron-building.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: 0px -200px;
}

.bold {
	font-weight: bold;
}

.white {
	color: white;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

header p {
	font-size: 18px;
}

p {
	font-size: 14px;
}

footer {
	background-color: dimgray;
	text-align: left;
}

.copyright {
	font-size: 11px;
}

.footernav {
	font-size: 18px;
}